<div style="margin:0; padding:0; margin:0 auto; width:800px;">
    <div style="margin:0 40px;  padding:0;font-size:14px; color:#6a6a6a; line-height:28px; font-family:'微软雅黑';">
    	<p style="margin:0 0 5px 0; padding:0; color:#333; font-size:18px; line-height:36px;">尊敬的 ${username}：</p>
    	<p style="margin:0; padding:8px 0;">您好！</p>
    	<p style="margin:0; padding:8px 0;">您正在重置账户的密码，请在校验码输入框中输入：<span style="border-bottom:1px dashed #ccc;z-index:1" onclick="return false;">${code}</span>，以完成操作。</p>
    	<p style="margin:0; padding:8px 0;">注意：校验码30分钟内有效，请勿泄漏此邮件的内容！</p>
    </div>
</div>