<table style="margin: 25px auto;" border="0" cellspacing="0" cellpadding="0" width="648" align="center">
    <tbody>
        <tr>
            <td style="color: #40AA53;"><h1 style="margin-bottom: 10px; font-size: 14pt;">小优信息</h1></td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #40AA53; padding: 20px 20px 0px; background: none repeat scroll 0% 0% #ffffff; border-top: 5px solid #40AA53; border-right: 1px solid #40AA53;">
                <p>xxx, 你好</p>
            </td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #40AA53; padding: 10px 20px; background: none repeat scroll 0% 0% #ffffff; border-right: 1px solid #40AA53;">
                <h3>找回密码</h3>
                <div style="border: 1px solid #ddd; padding: 10px 20px; font-family: sans-serif; background: #f2f2f2; line-height: 24px;">
                    <p>Test, Test, Test</p>
                </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #40AA53; border-left: 1px solid #40AA53; padding: 0px 20px 20px; background: none repeat scroll 0% 0% #ffffff; border-right: 1px solid #40AA53;">
            </td>
        </tr>
    </tbody>
</table>