<!-- 引入header模板 start -->
<%include("../common/header.html",{'stageArr':["当前登录用户","修改密码"]}){}%>
<!-- 引入header模板 start -->

<form class="am-form" action="${ctxPath}/user/edit/password" method="post">
    <fieldset>
        <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-2 am-text-right"> 原密码：</div>
            <div class="am-u-sm-4 am-u-end">
               <input type="password" name="password" placeholder="输入原密码">
            </div>
        </div>
        
        <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-2 am-text-right">新密码：</div>
            <div class="am-u-sm-4 am-u-end">
                <input type="password" name="newPassword" placeholder="输入新密码">
            </div>
        </div>
        
        <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-2 am-text-right">重复密码：</div>
            <div class="am-u-sm-4 am-u-end">
               <input type="password" name="reNewPassword" placeholder="重复新密码">
            </div>
        </div>

        <div class="am-g am-margin-top-sm submit-div">
             <button type="submit" class="am-btn am-btn-primary">　　确认修改　　</button>
        </div>
    </fieldset>
</form>


<!-- 引入bottom start -->
<%include("../common/bottom.html"){}%>
<!-- 引入bottom end -->