<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
    default-lazy-init="false">


    <!-- 开启spring的annotation支持 -->
    <context:annotation-config />

    <!-- 设定spring自动注册bean，但不注册spring mvc注解 -->
    <context:component-scan base-package="cn.xyspace.xysvr">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>

    <!-- JSR303(JSR349) Validator定义 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

    <!-- 加载外部properties配置文件 -->
    <!-- <context:property-placeholder location="classpath:jdbc.properties" /> -->
    <bean class="cn.xyspace.xysvr.common.tool.security.EncryptPropertyPlaceholderConfigurer" p:fileEncoding="utf-8">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:redis.properties</value>
                <value>classpath:mongodb.properties</value>
                <value>classpath:xysvr.properties</value>
            </list>
        </property>
    </bean>

    <!-- 配置JavaMailSender -->
    <bean id="sender" class="org.springframework.mail.javamail.JavaMailSenderImpl" p:protocol="smtps" p:host="smtp.xy-space.cn"
        p:port="465">
        <!--
            <property name="protocol" value="${email.protocol}‍" />
            <property name="host" value="${email.host}" />
            <property name="port" value="${email.port}" />
        -->
        <property name="username" value="${email.username}‍" />
        <property name="password" value="${email.password}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>

</beans>